<h1>
  Mi aplicación bancaria
</h1>
<br>

<div *ngIf="this.service.lbolSignUp; then thenSignUp else elseSignUp"></div>
<ng-template #thenSignUp>
  <div class="signup-container">
    <app-signup></app-signup>
  </div>
</ng-template>
<ng-template #elseSignUp>
  <div>
    <div *ngIf="this.lbolUserLogu; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <div class="menu-container">
        <button type="button" class="btn btn-primary" routerLink="/home">Home</button>
        <button type="button" class="btn btn-primary" routerLink="/profile">Profile</button>
        <button type="button" class="btn btn-primary" routerLink="/accounts">Accounts</button>
        <button type="button" class="btn btn-primary" routerLink="/transactions">Transactions</button>  
        <button type="button" class="btn btn-primary" routerLink="/dashboard">Dashboard</button>
        <button type="button" class="btn btn-primary" (click)="fnLogOut()">Salir</button>  
      </div>     
      <router-outlet />
    </ng-template>
    <ng-template #elseBlock>
      <div class="login-container">
        <div class="form-group">
          <label>User:</label>
          <input type="text" maxlength="15" [(ngModel)]="lstrUser">
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input type="password" maxlength="15" [(ngModel)]="lstrPass">
        </div>
        <div class="form-group">
          <button type="button" (click)="fnLogIN()">Login</button>
        </div>
        <div class="form-group message">
          <label>{{lstrMessag}}</label>
        </div>
        <div class="form-group">
          <button type="button" class="signup-button" (click)="fnSignUp()">Sign Up</button>
        </div>
      </div>
    </ng-template>
  </div>
</ng-template>
