
<br>
<button type="button" (click)="fnGetAccounts()">Get Accounts</button>
<br>
<br>

<label>User: </label>
<input type="text" maxlength="15" [(ngModel)]="lstrUser">

<div class="accountList" *ngFor="let account of accounts">
    <tr>
        <th>ID: {{account.id}}</th>
        <th>Codi User: {{account.CodiUser}}</th>
        <th>Name: {{account.NumeCuen}}</th>
        <th>NombCuen: {{account.NumeCuen}}</th>
    </tr>
</div>

<br>
<br>
<div>
    <div id="idgridAccounts" class="grid">
        <angular-slickgrid gridId="gridAccounts"
            [columnDefinitions]="CDAccounts"
            [gridOptions]="GPAccounts"
            [dataset]="dsAccounts">
        </angular-slickgrid>
    </div>
</div>

