

<p>
    {{mensaje}}
</p>

<div *ngIf="this.bPreguntar; then preguntar"></div>

<ng-template #preguntar>
    <p>Confirma que desea guardar?</p>

    <button type="button" (click)="service.fnSetObserver('Sí')">Sí</button>
    <button type="button" (click)="service.fnSetObserver('No')">No</button>

</ng-template>


<div class="input-group mb-3">
<label>User: </label>
<input type="text" class="form-control" maxlength="15" [(ngModel)]="lstrUser">
<button type="button" (click)="fnGetAccounts()" class="btn btn-primary">Get Accounts</button>
</div>

<div>

<div>
    <span>Nombre Cuenta</span>
    <input type="nombreCuenta" placeholder="Nombre Cuenta" [(ngModel)]="lstrNombreCuenta">
</div>

<div>
    <span>Numero Cuenta</span>
    <input type="numeroCuenta" placeholder="Numero Cuenta" [(ngModel)]="lstrNumeroCuenta">
</div>

<button type="button" (click)="fnSaveAccount()" class="btn btn-primary">Save Account</button>

</div>

<div class="accountList" *ngFor="let account of accounts">
    <tr>
        <th>ID: {{account.id}}</th>
        <th>Codi User: {{account.CodiUser}}</th>
        <th>Name: {{account.NumeCuen}}</th>
        <th>NombCuen: {{account.NumeCuen}}</th>
    </tr>
</div>

<br>
<br>
<div>
    <div id="idgridAccounts" class="grid">
        <angular-slickgrid gridId="gridAccounts"
            [columnDefinitions]="CDAccounts"
            [gridOptions]="GPAccounts"
            [dataset]="dsAccounts">
        </angular-slickgrid>
    </div>
</div>

